@font-face {
  font-family: 'Sunroll';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/Sunroll.ttf')
}

@font-face {
  font-family: 'cinque-terre';
  src: url('./assets/CINQUETERRE.otf');
  font-style: normal;
}

* {
  background-color: #a44a3f;
  color: #f3e9dc;
  font-size: 30px;
  text-align: center;
  font-family: 'cinque-terre';
}
